[package]
name = "gelx_cli"
version = { workspace = true }
authors = { workspace = true }
edition = { workspace = true }
homepage = { workspace = true }
license = { workspace = true }
repository = { workspace = true }
rust-version = { workspace = true }

[[bin]]
name = "gelx"
path = "src/main.rs"

[dependencies]
clap = { workspace = true, features = ["derive"] }
gelx_core = { workspace = true }
similar = { workspace = true }
tokio = { workspace = true, features = ["full"] }
toml = { workspace = true }

[lints]
workspace = true
